[package]
name = "strata-predicate"
version = "0.1.0"
edition = "2024"

[lints]
workspace = true

[dependencies]
arbitrary = { workspace = true, optional = true, features = ["derive"] }
borsh = { workspace = true, optional = true }
hex = { workspace = true, optional = true }
k256 = { version = "0.13.4", features = ["schnorr"] }
serde = { workspace = true, optional = true }
signature = "2.2"
ssz.workspace = true
ssz_derive.workspace = true
ssz_primitives.workspace = true
ssz_types.workspace = true
thiserror.workspace = true
tree_hash.workspace = true
tree_hash_derive.workspace = true
zkaleido-sp1-groth16-verifier = { git = "https://github.com/alpenlabs/zkaleido", tag = "v0.1.0-alpha-rc18" }

[build-dependencies]
ssz_codegen.workspace = true

[dev-dependencies]
bincode = "1.3"
hex.workspace = true
proptest.workspace = true
rand.workspace = true
serde_json.workspace = true
sp1-verifier = "5.2.1"
zkaleido = { git = "https://github.com/alpenlabs/zkaleido", tag = "v0.1.0-alpha-rc18" }

[features]
default = ["serde", "borsh"]
serde = ["dep:serde", "dep:hex"]
borsh = ["dep:borsh"]
arbitrary = ["dep:arbitrary"]
